In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01 -0.133940  0.163372 -0.735015 -1.922967
2013-01-02 -0.212769  0.179515 -0.381509 -0.473183
2013-01-03  1.377783  0.413004  0.481025 -0.277476
2013-01-04 -0.368909 -1.438377 -0.707379 -0.777600
2013-01-05  1.859583  0.504053  0.690463 -1.043630
2013-01-06 -0.769483  0.742174 -0.878062  0.501387

In [9]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df.head()

                   A         B         C         D
2013-01-01 -0.133940  0.163372 -0.735015 -1.922967
2013-01-02 -0.212769  0.179515 -0.381509 -0.473183
2013-01-03  1.377783  0.413004  0.481025 -0.277476
2013-01-04 -0.368909 -1.438377 -0.707379 -0.777600
2013-01-05  1.859583  0.504053  0.690463 -1.043630

In [13]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.368909 -1.438377 -0.707379 -0.777600
2013-01-05  1.859583  0.504053  0.690463 -1.043630
2013-01-06 -0.769483  0.742174 -0.878062  0.501387

In [14]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.values

array([[-0.13394027,  0.16337212, -0.7350147 , -1.92296743],
       [-0.2127687 ,  0.17951519, -0.38150868, -0.47318272],
       [ 1.37778339,  0.41300365,  0.48102483, -0.27747609],
       [-0.36890853, -1.43837659, -0.70737942, -0.77760048],
       [ 1.85958335,  0.50405272,  0.6904633 , -1.04363012],
       [-0.76948347,  0.7421736 , -0.87806216,  0.50138681]])

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.292044  0.093957 -0.255079 -0.665578
std    1.061697  0.781068  0.674523  0.810672
min   -0.769483 -1.438377 -0.878062 -1.922967
25%   -0.329874  0.167408 -0.728106 -0.977123
50%   -0.173354  0.296259 -0.544444 -0.625392
75%    0.999852  0.481290  0.265391 -0.326403
max    1.859583  0.742174  0.690463  0.501387

In [18]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.133940   -0.212769    1.377783   -0.368909    1.859583   -0.769483
B    0.163372    0.179515    0.413004   -1.438377    0.504053    0.742174
C   -0.735015   -0.381509    0.481025   -0.707379    0.690463   -0.878062
D   -1.922967   -0.473183   -0.277476   -0.777600   -1.043630    0.501387

In [19]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -1.922967 -0.735015  0.163372 -0.133940
2013-01-02 -0.473183 -0.381509  0.179515 -0.212769
2013-01-03 -0.277476  0.481025  0.413004  1.377783
2013-01-04 -0.777600 -0.707379 -1.438377 -0.368909
2013-01-05 -1.043630  0.690463  0.504053  1.859583
2013-01-06  0.501387 -0.878062  0.742174 -0.769483

In [20]:
df.sort(columns='B')

C:\Users\Sunny\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   A         B         C         D
2013-01-04 -0.368909 -1.438377 -0.707379 -0.777600
2013-01-01 -0.133940  0.163372 -0.735015 -1.922967
2013-01-02 -0.212769  0.179515 -0.381509 -0.473183
2013-01-03  1.377783  0.413004  0.481025 -0.277476
2013-01-05  1.859583  0.504053  0.690463 -1.043630
2013-01-06 -0.769483  0.742174 -0.878062  0.501387

In [21]:
df['A']

2013-01-01   -0.133940
2013-01-02   -0.212769
2013-01-03    1.377783
2013-01-04   -0.368909
2013-01-05    1.859583
2013-01-06   -0.769483
Freq: D, Name: A, dtype: float64

In [22]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.133940  0.163372 -0.735015 -1.922967
2013-01-02 -0.212769  0.179515 -0.381509 -0.473183
2013-01-03  1.377783  0.413004  0.481025 -0.277476

In [23]:
df.loc[dates[0]]

A   -0.133940
B    0.163372
C   -0.735015
D   -1.922967
Name: 2013-01-01 00:00:00, dtype: float64

In [24]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.133940  0.163372
2013-01-02 -0.212769  0.179515
2013-01-03  1.377783  0.413004
2013-01-04 -0.368909 -1.438377
2013-01-05  1.859583  0.504053
2013-01-06 -0.769483  0.742174

In [25]:
df.loc['20130102',['A','B']]

A   -0.212769
B    0.179515
Name: 2013-01-02 00:00:00, dtype: float64

In [26]:
df.loc[dates[0],'A']

-0.13394026653501934

In [27]:
df.at[dates[0],'A']

-0.13394026653501934

In [28]:
df.iloc[3]

A   -0.368909
B   -1.438377
C   -0.707379
D   -0.777600
Name: 2013-01-04 00:00:00, dtype: float64

In [29]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -0.368909 -1.438377
2013-01-05  1.859583  0.504053

In [30]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.212769 -0.381509
2013-01-03  1.377783  0.481025
2013-01-05  1.859583  0.690463

In [31]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.212769  0.179515 -0.381509 -0.473183
2013-01-03  1.377783  0.413004  0.481025 -0.277476

In [32]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.163372 -0.735015
2013-01-02  0.179515 -0.381509
2013-01-03  0.413004  0.481025
2013-01-04 -1.438377 -0.707379
2013-01-05  0.504053  0.690463
2013-01-06  0.742174 -0.878062

In [33]:
df.iloc[1,1]

0.17951519467148175

In [34]:
df.iat[1,1]  # just faster

0.17951519467148175

In [35]:
df[df.A > 0]

                   A         B         C         D
2013-01-03  1.377783  0.413004  0.481025 -0.277476
2013-01-05  1.859583  0.504053  0.690463 -1.043630

In [36]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN  0.163372       NaN       NaN
2013-01-02       NaN  0.179515       NaN       NaN
2013-01-03  1.377783  0.413004  0.481025       NaN
2013-01-04       NaN       NaN       NaN       NaN
2013-01-05  1.859583  0.504053  0.690463       NaN
2013-01-06       NaN  0.742174       NaN  0.501387

In [37]:
df2 = df.copy()
df2['E']=['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -0.133940  0.163372 -0.735015 -1.922967    one
2013-01-02 -0.212769  0.179515 -0.381509 -0.473183    one
2013-01-03  1.377783  0.413004  0.481025 -0.277476    two
2013-01-04 -0.368909 -1.438377 -0.707379 -0.777600  three
2013-01-05  1.859583  0.504053  0.690463 -1.043630   four
2013-01-06 -0.769483  0.742174 -0.878062  0.501387  three

In [38]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  1.377783  0.413004  0.481025 -0.277476   two
2013-01-05  1.859583  0.504053  0.690463 -1.043630  four

In [40]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))

In [41]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [42]:
df['F'] = s1

In [43]:
df.at[dates[0],'A'] = 0

In [44]:
df.iat[0,1] = 0

In [46]:
df.loc[:,'D'] = np.array([5] * len(df))

In [47]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.735015  5  NaN
2013-01-02 -0.212769  0.179515 -0.381509  5  1.0
2013-01-03  1.377783  0.413004  0.481025  5  2.0
2013-01-04 -0.368909 -1.438377 -0.707379  5  3.0
2013-01-05  1.859583  0.504053  0.690463  5  4.0
2013-01-06 -0.769483  0.742174 -0.878062  5  5.0

In [48]:
df2 = df.copy()

In [49]:
df2[df2 > 0] = -df2

In [50]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.735015 -5  NaN
2013-01-02 -0.212769 -0.179515 -0.381509 -5 -1.0
2013-01-03 -1.377783 -0.413004 -0.481025 -5 -2.0
2013-01-04 -0.368909 -1.438377 -0.707379 -5 -3.0
2013-01-05 -1.859583 -0.504053 -0.690463 -5 -4.0
2013-01-06 -0.769483 -0.742174 -0.878062 -5 -5.0

In [51]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])

In [52]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [53]:
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -0.735015  5  NaN  1.0
2013-01-02 -0.212769  0.179515 -0.381509  5  1.0  1.0
2013-01-03  1.377783  0.413004  0.481025  5  2.0  NaN
2013-01-04 -0.368909 -1.438377 -0.707379  5  3.0  NaN

In [55]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2013-01-02 -0.212769  0.179515 -0.381509  5  1.0  1.0

In [56]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -0.735015  5  5.0  1.0
2013-01-02 -0.212769  0.179515 -0.381509  5  1.0  1.0
2013-01-03  1.377783  0.413004  0.481025  5  2.0  5.0
2013-01-04 -0.368909 -1.438377 -0.707379  5  3.0  5.0

In [57]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [58]:
df.mean()

A    0.314368
B    0.066728
C   -0.255079
D    5.000000
F    3.000000
dtype: float64

In [59]:
df.mean(1)

2013-01-01    1.066246
2013-01-02    1.117048
2013-01-03    1.854362
2013-01-04    1.097067
2013-01-05    2.410820
2013-01-06    1.818926
Freq: D, dtype: float64

In [60]:
pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2)

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [61]:
df.sub(s,axis='index')

                      A   B   C   D   F
2013-01-01 00:00:00 NaN NaN NaN NaN NaN
2013-01-02 00:00:00 NaN NaN NaN NaN NaN
2013-01-03 00:00:00 NaN NaN NaN NaN NaN
2013-01-04 00:00:00 NaN NaN NaN NaN NaN
2013-01-05 00:00:00 NaN NaN NaN NaN NaN
2013-01-06 00:00:00 NaN NaN NaN NaN NaN
0                   NaN NaN NaN NaN NaN
1                   NaN NaN NaN NaN NaN
2                   NaN NaN NaN NaN NaN
3                   NaN NaN NaN NaN NaN
4                   NaN NaN NaN NaN NaN
5                   NaN NaN NaN NaN NaN

In [62]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000 -0.735015   5   NaN
2013-01-02 -0.212769  0.179515 -1.116523  10   1.0
2013-01-03  1.165015  0.592519 -0.635499  15   3.0
2013-01-04  0.796106 -0.845858 -1.342878  20   6.0
2013-01-05  2.655690 -0.341805 -0.652415  25  10.0
2013-01-06  1.886206  0.400369 -1.530477  30  15.0

In [63]:
df.apply(lambda x: x.max() - x.min())

A    2.629067
B    2.180550
C    1.568525
D    0.000000
F    4.000000
dtype: float64

In [64]:
s = pd.Series(np.random.randint(0,7,size=10))

In [65]:
s

0    5
1    5
2    6
3    5
4    6
5    4
6    2
7    4
8    4
9    3
dtype: int32

In [66]:
s.value_counts()

5    3
4    3
6    2
3    1
2    1
dtype: int64

In [67]:
s = pd.Series(['A','B','C','Aaba','Baca', np.nan, 'CABA', 'dog', 'cat'])

In [68]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [70]:
# 
df = pd.DataFrame(np.random.randn(10, 4))

In [71]:
df

          0         1         2         3
0 -2.088908 -0.577462 -0.434558 -0.946888
1 -0.465059 -0.225847  1.346699  0.691244
2 -0.736307  1.559290 -0.821599 -1.320425
3 -0.717902  1.234101 -1.232062  1.568958
4  0.328053 -1.099487  0.452326 -0.933424
5  1.058429  0.812359 -0.669394  1.587634
6  1.229244  0.949074 -0.146810 -0.811982
7 -1.787962  0.330201 -0.487267 -0.017332
8 -0.524128  0.864316 -0.385062  0.239176
9 -0.206362 -0.129629  1.884861 -0.030874

In [72]:
pieces = [df[:3], df[3:7], df[7:]]

In [73]:
pd.concat(pieces)
# break into pieces

          0         1         2         3
0 -2.088908 -0.577462 -0.434558 -0.946888
1 -0.465059 -0.225847  1.346699  0.691244
2 -0.736307  1.559290 -0.821599 -1.320425
3 -0.717902  1.234101 -1.232062  1.568958
4  0.328053 -1.099487  0.452326 -0.933424
5  1.058429  0.812359 -0.669394  1.587634
6  1.229244  0.949074 -0.146810 -0.811982
7 -1.787962  0.330201 -0.487267 -0.017332
8 -0.524128  0.864316 -0.385062  0.239176
9 -0.206362 -0.129629  1.884861 -0.030874

In [75]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [76]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [77]:
left

   key  lval
0  foo     1
1  foo     2

In [78]:
right

   key  rval
0  foo     4
1  foo     5

In [79]:
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [80]:
df = pd.DataFrame(np.random.randn(8,4), columns=['A','B','C','D'])

In [81]:
df

          A         B         C         D
0 -0.358064 -0.012385 -1.338418 -0.255437
1 -1.239142  0.969994  0.769861  1.305923
2  0.537439  1.578750 -1.839581  0.028957
3  0.888476 -0.088420 -0.399939 -1.330587
4 -0.777358  0.301013  1.082553  1.086350
5 -0.231833 -0.343894  3.090063  0.437804
6 -0.401984  0.213925  0.776151  0.043948
7  0.216457 -1.281273 -0.216354 -0.216316

In [82]:
s = df.iloc[3]

In [83]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.358064 -0.012385 -1.338418 -0.255437
1 -1.239142  0.969994  0.769861  1.305923
2  0.537439  1.578750 -1.839581  0.028957
3  0.888476 -0.088420 -0.399939 -1.330587
4 -0.777358  0.301013  1.082553  1.086350
5 -0.231833 -0.343894  3.090063  0.437804
6 -0.401984  0.213925  0.776151  0.043948
7  0.216457 -1.281273 -0.216354 -0.216316
8  0.888476 -0.088420 -0.399939 -1.330587

In [85]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                    'foo', 'bar', 'foo', 'foo'],
             'B' : ['one', 'one', 'two', 'three',
                   'two', 'two', 'one', 'three'],
             'C' : np.random.randn(8),
             'D' : np.random.randn(8)})

In [86]:
df

     A      B         C         D
0  foo    one  0.879801 -0.039179
1  bar    one -1.482415 -0.305174
2  foo    two -0.359820  0.357493
3  bar  three  0.700043  1.894046
4  foo    two -0.419522  0.136052
5  bar    two -1.618292 -0.987522
6  foo    one  1.642688 -0.285678
7  foo  three -2.675813  1.353271

In [87]:
df.groupby('A').sum()

            C         D
A
bar -2.400663  0.601351
foo -0.932667  1.521960

In [89]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -1.482415 -0.305174
    three  0.700043  1.894046
    two   -1.618292 -0.987522
foo one    2.522489 -0.324857
    three -2.675813  1.353271
    two   -0.779342  0.493545

In [90]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [91]:
ts = ts.cumsum()

In [92]:
ts.plot()

In [93]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                 columns=['A', 'B', 'C', 'D'])

In [94]:
df = df.cumsum()

In [96]:
plt.figure(); df.plot(); plt.legend(loc='best')